[submodule "external/msg"]
	path = external/msg
	url = https://github.com/sneakyHulk/permatracks_msg.git
[submodule "external/common"]
	path = external/common
	url = https://github.com/sneakyHulk/common.git
[submodule "thirdparty/csv"]
	path = thirdparty/csv
	url = https://github.com/vincentlaucsb/csv-parser.git
